@charset "UTF-8";

/*共通部分*/
html {
	font-size: 100%;
}
body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
	line-height: 1.7;
/*	background-image: radial-gradient(circle, #dbedf0, #c1dbdb, #a8c9c4, #92b6ab, #80a491);*/
	color: #222;
}
a {
	text-decoration: none;
}


/* ヘッダー */
.page-header {
	background-image: radial-gradient(circle, #80a491, #96bbb9, #bad0d8, #e0e6ee, #ffffff);
	padding: 2em 0.5em 0.5em 0.5em;
	text-align: center;
}

/* ヘッダーの文字　レイアウト */
.align-center {
	text-align: center;
	color: azure;
}

/*ヘッダーのaタグ */
.main-nav {
	display: flex;
	justify-content: center;
	gap: 2.5rem;
	font-size: 1rem;
	list-style: none;
}
.main-nav a {
	color: azure;
	padding: 0.5em 1em;
}
.main-nav a:hover {
	color: #0bd;
}

/* main部分 */
/* 画像 */
.profile_box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	margin: 2em 0;
}
.profile_body {
background: #f8f8fb;
	margin: 1em;
	padding: 1.5em 1em;
	border-radius: 10px;
	box-shadow: 0 3px 12px #aac4ce33;
}
.photo_box img{
	width: 320px;
	max-width: 320px;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}


/* 各ボックス（大きな括りの方）に対するデザイン */
.box {
	background: #f8f8fb;
	margin: 1.2em auto;
	padding: 1.5em 1em;
	max-width: 420px;
	border-radius: 10px;
	box-shadow: 0 3px 12px #aac4ce33;
/*    ↑これは有ってもなくても良いが背景に画像を入れたときにあった方がいい気がする*/
	max-width: 80vw;
}

/* SKILLSのJavaやOracle等に対してのボックス */
.skill-box {
	background: #eef4f7;
	border-radius: 6px;
	padding: 0.9em;
	margin-bottom: 1em;
	box-shadow: 0 2px 8px #aac4ce40;
}
.box1 {
	background: #dfefff;
	box-shadow: 0px 0px 0px 5px #dfefff;
	border: dashed 1px #96c2fe;
	padding: 0.2em 0.5em;
	color: #454545;
}

/* WORKSリスト */
.works ul {
	padding-left: 1.2em;
	margin: 0;
	list-style-type: none;
}
.works li {
	margin-bottom: 0.5em;
/*  position: relative;*/
/*  padding-left: 15px;*/
}
.works li:before {
	content: "❖ "; /* ❖を挿入 */
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	color: #334b51;
}

.works a {
	color: #334b51;
	display: inline-block;
  /* ↑インライン要素(a:hover)の動き(scale)が鈍い時に使うと動きやすくなる */
  transition: .5s;
}
.works a:hover {
	color: #0bd;
	translate: 20px;
/*  transform: scale(1.1);*/
}

/* CONTACTリスト */
input, textarea, button {
	font-size: 1em;
	border: 1px solid #bbb;
	margin-top: 0.2em;
}
button{
	padding: 0.2em 1em;
	border-radius: 6px;
	margin-top: 0.5em;
	transition: .5s;
}
button:hover {
	color: #0bd;
}

footer {
	text-align: center;
	font-size: 0.8em;
	color: #fff;
	background-image: radial-gradient(circle, #80a491, #96bbb9, #bad0d8, #e0e6ee, #ffffff);
	padding: 1rem 0;
}

/* デスクトップ版 */
@media (max-width: 620px) {
	.box { max-width: 95vw; padding: 1.2em 0.2em; }
	/* ↑「Viewport Width」の略*/
	.main-nav { flex-direction: column; gap: 0; }
	.page-header h1 { font-size: 1.3em; }
	.profile_box {
		flex-direction: column;
/*		gap: 1rem;*/
	}
	.photo_box img {
		width: 100%;
		height: 100%;
/*		max-width: 380px;*/
	}
}
